{% extends 'base.html' %}

{% block main %}
<br>
<div class="card">
    <div class="card-header">
        <p class="card-text text-muted mb-0"><strong>Автор:</strong> {{ post[3] }}</p>
        <p class="card-text text-muted" align="left">
            <strong>Дата:</strong> {{ post[4].strftime('%H:%M %d %b %Y') }}
        </p>
    </div>
    <div class="card-body">
        <img src="{{ url_for('static', filename='uploads/' + post[5].replace('\\', '/').split('/')[-1]) }}" alt="Изображение"
            class="img-fluid">
        <br>
        <h5 class="card-title">{{ post[1] }}</h5>
        <p class="card-text">{{ post[2] }}</p>
        <a href="{{ url_for('edit_post_fr', id=post[0]) }}" class="btn btn-primary">Изменить</a>
        <form method="POST" action="{{ url_for('del_post_fr', id=post[0]) }}" class="d-inline">
            <button type="submit" class="btn btn-primary"
                onclick="return confirm('Вы уверены, что хотите удалить этот пост?')">Удалить</button>
        </form>
    </div>
</div>
{% endblock %}